.App {
  text-align: center;
  max-width: 1000px;
  margin: auto;
}

#top-bar {
  margin-top: 10px;
  display: flex;
}

#logo {
  display: flex;
}

#spliffy-logo {
  height: 40px;
  width: 47px;
}

#spliffy-text {
  font-weight: bold;
  font-size: 30px;
}

#search-bar {
  width: 800px;
}

#search-input {
  padding-left: 10px;
  padding-top: 4px
}

form input {
  box-sizing: border-box;
  height: 30px;
}

form > div {
  position: relative;
  margin-right: 110px;
}

form input[type="text"] {
  display: block;
  width: 100%;
}

form input[type="submit"] {
  display: block;
  width: 100px; 
  position: absolute;
  top: 0;
  left: 100%;
  margin-left: 10px;
  height: 30px;
}